fastapi
uvicorn[standard]
pydantic-settings
SQLAlchemy
aiomysql
alembic
redis
python-multipart
pwdlib[argon2]
python-jose[cryptography]
cryptography
httpx
fastapi-mail
aio-pika
langchain
langchain-community
langchain-deepseek
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]
chromadb
ollama
pypdf
pytest
pytest-asyncio
aiosqlite
